body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.box {
  background: white;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 8px;
}

audio,
video,
form
 {
  display: block;
  margin-top: 10px;
}

form input,
form textarea,
{
	width=300px;
	height:30px;
	padding:8px;
	margin-bottom:10px;
}

.select{
	width=300px;
	height:30px;
	padding:8px;
	margin-bottom:10px;
}

h3 {
  text-align: left;
  margin-bottom: 30px;
}

h2 {
  text-align: left;
  margin-bottom: 30px;
}

.form {
	
}
