* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #ff4d4d;
    color: white;
}

header nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background: url("") center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 15px 0;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #ff4d4d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Menu Section */
.menu {
    padding: 50px;
    text-align: center;
}

.menu h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.food-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.food-card {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 15px;
}

.food-card img {
    width: 200px;
    height:180px;
    border-radius: 10px;
}

.food-card h3 {
    margin: 10px 0;
}

.food-card button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #ff4d4d;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
